body {
    font-family: "Inter", sans-serif;
    line-height: 1.6;
    background: var(--primary-bg);
    color: var(--text-color);
    overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
